@page
@model SchoolApp.Pages.Courses.IndexModel
@{
    ViewData["Title"] = "Courses List";
}


<div class="container-fluid">

    <div class="container-fluid bg-secondary py-1 mb-2">
        <h3 class="text-center text-light">Course</h3>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title title-2 text-dark">Courses List</h4>
            <hr>

            <!-- Add Modal Button -->
            <div class="d-flex justify-content-center my-3">
                <div class="col-xl-6 col-lg-8 col-md-6 col-sm-8 col-12">
                    <button class="btn btn-dark btn-lg" data-toggle="modal" data-target="#addmodal"><i class="fas fa-plus"></i>&nbsp; New Course</button>
                </div>
            </div>

            <form method="post">

                <!-- Table -->
                <div class="d-flex justify-content-center">
                    <div class="table-responsive col-xl-6 col-lg-8 col-md-6 col-sm-8 col-12">
                        <table id="zero_config" class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th class="text-white bg-dark">
                                        <span class="h5">Name</span>
                                    </th>
                                    <th class="text-white bg-dark">
                                        <span class="h5">Module</span>
                                    </th>
                                    <th class="text-white bg-dark">
                                        <span class="h5">Hours</span>
                                    </th>
                                    <th class="text-white bg-dark d-flex justify-content-end">
                                        <span class="h5">Action</span>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.Courses)
                                {
                                    <tr>
                                        <td class="text-dark text-capitalize"><span class="h5">@item.Name</span></td>
                                        <td class="text-dark text-capitalize"><span class="h5">@item.Module.Name</span></td>
                                        <td class="text-dark text-capitalize"><span class="h5">@item.NbHour</span></td>
                                        <td class="text-dark d-flex justify-content-end">
                                            <a asp-route-id="@item.Id" asp-page="/Courses/Details" class="text text-white btn btn-dark mr-1" data-toggle="tooltip" data-placement="left" title="Check"><i class="bi bi-info-circle-fill"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>




                <!-- Add Modal -->
                <div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" style="font-size:20px">Add New Course</h5>
                                <button type="button" class="close mb-1" data-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle"></i></button>
                            </div>
                            <div class="modal-body">

                                <div class="form-row">
                                    <input asp-for="Course.Name" type="text" class="form-control col-12 h4" placeholder="type course name">
                                    <span asp-validation-for="Course.Name" class="text-danger"></span>

                                    <select asp-for="Course.ModuleId" class="form-control form-select col-12 h4">
                                        <option value="">Select Module...</option>
                                        @foreach (var item in Model.Modules)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="Course.ModuleId" class="text-danger"></span>

                                    <input asp-for="Course.NbHour" type="text" class="form-control col-12 h4" placeholder="type total hours of the course">
                                    <span asp-validation-for="Course.NbHour" class="text-danger"></span>
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button asp-page-handler="Create" class="btn btn-primary">Create</button>
                                <button data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}